.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 2px 4px;
  border-radius: 6px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary .question {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Dictionary h1 {
  font-size: 40px;
  color: #f1532a;
  text-align: center;
  text-transform: uppercase;
  margin: -15px 0 10px 0;
}

.Dictionary .image-dictionary {
  display: block;
  margin: 20px auto;
  width: 60px;
}
